/*
Author: Radosław Ziembiński
Poznań Universtiy of Technolgy, 2014
Laboratories: Technologie programistyczne systemy internetowe - teaching materials
*/

.results tr > td > div[crashed="false"] {
	width: 300px;
	background-color: green;
	color: white;
}

.results tr > td > div[crashed="true"] {
	width: 300px;
	background: red;
	color: white;
}

.results tr > td > div {
	width: 300px;
}

.controls button {
	width: 80px;
}

#speedPlot{
	width: 80%; height:400px;
}

#accelerationPlot{
	width: 80%; height:400px;
}

#startDataForm{
	display: table-caption;
}

.startDataFormFields{
	display: block;
}

#startDataFormSet{
	display: flex;
}

#logoutLink{
	
}

.poss{
	margin-left: 15px;
}


.vels{
	margin-left: 30px;
}
