/*
Author: Radosław Ziembiński
Poznań Universtiy of Technolgy, 2014
Laboratories: Technologie programistyczne systemy internetowe - teaching materials
*/

.results tr > td > div[crashed="false"] {
	width: 300px;
	background-color: green;
	color: white;
}

.results tr > td > div[crashed="true"] {
	width: 300px;
	background: red;
	color: white;
}

.results tr > td > div {
	width: 300px;
}

.controls button {
	width: 80px;
}

#speedPlot{
	width: 80%; height:400px;
}

#accelerationPlot{
	width: 80%; height:400px;
}

#startDataForm{
	display: table-caption;
	float: left;
	width: 30%;
}

.startDataFormFields{
	display: block;
}

#startDataFormSet{
	display: flex;
}

#logoutLink{
	
}

.poss{
	margin-left: 15px;
}


.vels{
	margin-left: 30px;
}

.nav-bar{
	float: right;
}

.nav-bar-div{
	background-color: #EEE;
}

#formHistoryDiv{
	display : block;
}

.table-responsive{
	float: right;
	width: 70%;
	margin-left: -30;
}

#formHistoryDiv{
	height: 40%;
}
.historyDiv{
	height: 200px;
	overflow: auto;
}

#history-header{
	text-align: center;
}
